* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-family: 400;
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 27.25em;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #1d1e35;
}

h2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 1rem;

  color: #787887;
  transition: all 0.2s ease-in-out;
}

p {
  font-weight: 400;
  line-height: 1.125rem;

  color: #787887;
  transition: all 0.5s ease-in-out;
}

.clicked {
  font-weight: 700;

  color: #1d1e35;
}

.illustration {
  position: relative;
  width: 100%;
  height: 8rem;

  img {
    width: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  img:first-child {
    transform: translate(-50%, 61%);
  }

  img:nth-child(2) {
    transform: translate(-50%, -25%);
  }

  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5) {
    display: none;
  }
}

.faq {
  width: 100%;
  padding: 8rem 1.5rem 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 1.25rem;

  h1 {
    margin-bottom: 2rem;
  }

  .content {
    width: 17.5rem;
    margin-bottom: 1rem;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 0.625rem;

      img {
        width: 0.625rem;
        transition: all 0.3s ease-in-out;
      }

      img:hover {
        cursor: pointer;
        transform: rotate(-180deg);
      }
    }

    h2:hover {
      cursor: pointer;
      color: #f47c57;
    }

    p {
      padding-right: 0.625rem;
      margin-bottom: 1rem;
    }

    hr {
      border: 1px solid #e7e7e9;
    }
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.arrow-up {
  transform: rotate(-180deg);
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0;
    flex-direction: row;
  }

  h2 {
    font-size: 0.875rem;
  }

  .container {
    flex-direction: row;
    min-width: 57.5rem;
  }

  .faq {
    padding: 4rem 6.125rem 5.125rem 29.75rem;

    align-items: flex-start;
    min-width: 57.5rem;

    border-radius: 1.25rem;

    h1 {
      margin-bottom: 2.25rem;
    }

    .content {
      width: 21.625rem;

      .title {
        margin-bottom: 1.125rem;
      }

      p {
        margin-bottom: 1.125rem;
      }
    }

    .content:last-child {
      margin-bottom: 0;
    }
  }

  .illustration {
    height: auto;

    img:first-child,
    img:nth-child(2) {
      display: none;
    }

    img {
      top: 50%;
      left: 50%;
    }

    img:nth-child(3) {
      display: block;

      width: 966px;
      height: 945px;

      transform: translate(-60%, -60%);
    }

    img:nth-child(4) {
      display: block;

      width: 472px;
      height: 359px;

      transform: translate(-18%, -50%);
    }

    img:nth-child(5) {
      display: block;

      width: 191px;
      height: 184px;

      transform: translate(-50%, -25%);
    }
  }
}
